<div class="page-header">
<div class="jumbotron text-center">
	<h1>Time Slot</h1>

	<div ng-if="!main.loggedIn">
		<p>Login into the admin area.</p>
		<a href="/login" class="btn btn-primary">Login</a>
		<a href="/signup" class="btn btn-primary">Sign Up</a>
		<br><br><br><br><br>
	</div>

	<div ng-if="main.loggedIn">
		<p>Welcome {{ main.user.name }}</p>
		<a href="/users" class="btn btn-primary">View Users</a>  or 
		<a href="/users/events" class="btn btn-primary">Search Events</a>
		<br><br><br><br><br>
	</div>

</div>