<div class="page-header">
	<h1>Sign Up</h1>
</div>

<div class="row col-md-6 col-md-offset-3">
	<form class="form-horizontal" ng-submit="user.saveUser()">
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="user.userData.name" required>
			</div>
			<font color=red>*</font>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="user.userData.username" required>
			</div>
			<font color=red>*</font>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-6">
				<input type="email" class="form-control" ng-model="user.userData.email" required>
			</div>
			<font color=red>*</font>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" ng-model="user.userData.password" required>
			</div>
			<font color=red>*</font>
		</div>

		<div class="form-group">
	        <label class="col-sm-2 control-label">Country</label>
	        <div class="col-sm-6">
	            <select class="form-control" name="countrySelectBox">
	                <option value="United States">United States</option>
	            </select>
	        </div>
	        <font color=red>*</font>
	    </div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Zipcode</label>
			<div class="col-sm-6">
				<input type="text" pattern="[0-9]*" class="form-control" ng-model="user.userData.zipcode" name ="postalCode" required>
			</div>
			<font color=red>*</font>
		</div>

		<br><font color=red>* required</font><br><br>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
		</div>
		</div>

	</form>

	<div class="row show-hide-message" ng-show="user.message">
		<div class="col-sm-6 col-sm-offset-2">
			
			<div class="alert alert-info">
				{{ user.message }}
			</div>

		</div>
	</div>

</div>